<%- include('partials/header') %> <%- include('partials/sidebar') %> <%-
include('partials/main') %>

<!-- Render page-specific content -->
<!-- <div class="row">
  <div class="col-12 grid-margin"></div>
</div> -->

<%- include('partials/footer') %>
