<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Demo Login</title>
    <link rel="stylesheet" href="/public/user/css/domoLogin.css" />
  </head>
  <body>
    <div class="login-container">
      <h1>Welcome to the Demo Login</h1>
      <p>Select your login type:</p>
      <div class="button-group">
        <a href="/admin/login" class="btn admin-btn">Admin Login</a>
        <a href="/user/auth/login" class="btn user-btn">User Login</a>
      </div>
    </div>
  </body>
</html>
