<nav class="navbar p-0 fixed-top d-flex flex-row">
  <div
    class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center"
  >
    <a class="navbar-brand brand-logo-mini" href="/admin/dashboard">
      <img src="/public/assets/images/logo-mini.svg" alt="logo" />
    </a>
  </div>
  <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
    <button
      class="navbar-toggler navbar-toggler align-self-center"
      type="button"
      data-toggle="minimize"
    >
      <span class="mdi mdi-menu"></span>
    </button>
    <ul class="navbar-nav w-100">
      <li class="nav-item w-100">
        <form
          id="searchForm"
          class="nav-link mt-2 mt-md-0 d-none d-lg-flex search"
          method="get"
          action="/admin/<%= pageType %>/search"
        >
          <input
            type="text"
            name="query"
            class="form-control"
            placeholder="Search <%= pageType %>"
          />
        </form>
      </li>
      <!-- Add the logout button here -->
      <li class="nav-item ml-auto d-flex align-items-center">
        <a class="btn btn-danger" href="/admin/logout">Logout</a>
      </li>
    </ul>
    <button
      class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
      type="button"
      data-toggle="offcanvas"
    >
      <span class="mdi mdi-menu"></span>
    </button>
  </div>
</nav>
